.cart{
    background: rgba(255, 153, 0, 0.368);
    padding: 25px;
    box-shadow: 0px 0px 30px rgb(255, 153, 0, 0.368);
    position: sticky;
    top: 0;
}
.summary{
    text-align: center;
    font-size: large;
    font-style: italic;
    
    
}
.cart p{
    font-size: 17px;
    
}
.btn-clear-cart{
    font-size: 21px;
    height: 55px;
    margin: 10px auto;
    background-color: #FF3030;
    border-radius: 4px;
    width: 90%;
    display: flex;
    justify-content: space-between;

align-items: center;
}